<!DOCTYPE html>
<html lang="es-PE">
  <head>
    <meta charset="UTF-8">
    <title>MiCaserito :D</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="assets/imagenes/logo-ma.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800,900,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if @url do %>
    <script src="<%= static_path(@conn, "/js/gps.js") %>"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcQHs_d_iHOukCURknqOC6faRpO3PTf1s&signed_in=true&callback=initMap"
        async defer>
    </script>
    <% end %>
  </body>
</html>
